language: cpp
git:
  depth: 50
  submodules: true
exclude:
  - if: branch = continous
jobs:
  include:
  - stage: prepare cache
    name: Packing game resources
    os: windows
    before_script:
      - git clone --recursive https://github.com/MoeMod/CSMoE-GameDir
      - git clone --recursive https://github.com/dgibbs64/HLDS-appmanifest
      - curl https://steamcdn-a.akamaihd.net/client/installer/steamcmd.zip -o steamcmd.zip
      - unzip -o steamcmd.zip -d SteamCMD
    script:
      - mkdir -p CSMoE-Full/steamapps
      - cd SteamCMD
      - ./steamcmd.exe +login anonymous +force_install_dir ../CSMoE-Full +app_update 90 +app_set_config 90 mod cstrike validate +quit || echo "First attempt... (0x10E expected)"
      - cp -f ../HLDS-appmanifest/CounterStrike/*.acf ../CSMoE-Full/steamapps/
      - ./steamcmd.exe +login anonymous +force_install_dir ../CSMoE-Full +app_update 90 +app_set_config 90 mod cstrike validate +quit || echo "Second attempt...(success expected)"
      - rm -f ../CSMoE-Full/steamapps/*.acf
      - ./steamcmd.exe +login anonymous +force_install_dir ../CSMoE-Full +app_update 90 +app_set_config 90 mod cstrike validate +quit || echo "Third attempt..."
      - cd ..
      - cp -r CSMoE-GameDir/csmoe CSMoE-Full/
      # skip zipping stage to save time when dev
    before_deploy:
      #- zip -r CSMoE-CD-GameDir-Full.zip CSMoE-Full
      #- tar czvf CSMoE-CD-GameDir-Full.tar.gz CSMoE-Full
      - 7z a -t7z -r CSMoE-CD-GameDir-Full.7z CSMoE-Full
      # Set up git user name and tag this commit
      - git config --local user.name "CSMoE-Deployer"
      - git config --local user.email "824395314@qq.com"
      - export TRAVIS_TAG=continuous
      - git remote add travis-deploy-public https://${GITHUB_TOKEN}@github.com/MoeMod/CSMoE.git
      - git tag --delete $TRAVIS_TAG
      - git push travis-deploy-public --tags --force
      - git tag --force $TRAVIS_TAG
      - git push travis-deploy-public --tags --force
    deploy:
      provider: releases
      api_key: ${GITHUB_TOKEN}
      file:
        - CSMoE-CD-GameDir-Full.7z
      on:
        branch: master
        repo: MoeMod/CSMoE
      overwrite: true
      skip_cleanup: true
      prerelease: true
  - stage: build
    name: Build for Linux amd64
    arch: amd64
    os: linux
    dist: bionic
    cache: ccache
    language: cpp
    compiler: gcc
    sudo: true
    addons:
      apt:
        packages:
        - cmake
        - x11-utils
        - libgl1-mesa-dev
        - libegl1-mesa-dev
        - libgles2-mesa-dev
    before_script:
    - export ARCH=x86_64
    - sudo apt-get install libsdl2-dev
    - sudo apt-get install libsdl2-image-dev
    - sudo apt-get install libfontconfig1-dev
    script:
    - sh scripts/build_portable_linux_engine.sh;
  - stage: build
    name: Build for Linux arm64
    arch: arm64
    os: linux
    dist: bionic
    cache: ccache
    language: cpp
    compiler: gcc
    sudo: true
    addons:
      apt:
        packages:
        - cmake
        - x11-utils
        - libgl1-mesa-dev
        - libegl1-mesa-dev
        - libgles2-mesa-dev
    before_script:
    - sudo apt-get install libsdl2-dev
    - sudo apt-get install libsdl2-image-dev
    - sudo apt-get install libfontconfig1-dev
    script:
    - sh scripts/build_portable_linux_engine.sh;
  - stage: build
    name: Build for macOS amd64
    cache: ccache
    os: osx
    osx_image: xcode11
    language: cpp
    compiler: clang
    before_script:
    - curl -s https://www.libsdl.org/release/SDL2-2.0.10.dmg > SDL2.dmg
    - hdiutil attach SDL2.dmg
    - mkdir -p ~/Library/Frameworks
    - cp -r /Volumes/SDL2/SDL2.framework ~/Library/Frameworks/
    script:
    - sh scripts/build_osx_engine.sh;
  - stage: build
    name: Build for iOS and deploy
    os: osx
    osx_image: xcode11
    language: objective-c
    before_script:
    - curl -s http://libsdl.org/release/SDL2-2.0.10.tar.gz > SDL2.tar.gz
    - tar xzf SDL2.tar.gz
    - mv SDL2-2.0.10 SDL2
    script:
    - set -o pipefail && xcodebuild archive -project Xcode-iOS/CSMoE-iOS.xcodeproj -scheme CSMoE-iOS -configuration Release -archivePath ./CSMoE-iOS.xcarchive CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO CODE_SIGNING_ALLOWED=NO | xcpretty
    - mkdir -p Payload
    - cp -a ./CSMoE-iOS.xcarchive/Products/Applications/csmoe-ios.app Payload/
    before_deploy:
      - zip -r CSMoE-CD-iOS-universal-unsigned.ipa Payload
    deploy:
      provider: releases
      api_key: ${GITHUB_TOKEN}
      file:
        - CSMoE-CD-iOS-universal-unsigned.ipa
      on:
        branch: master
        repo: MoeMod/CSMoE
      overwrite: true
      skip_cleanup: true
      prerelease: true
  - stage: build
    name: Build for Android and deploy
    language: android
    dist: trusty
    android:
      components:
      - build-tools-28.0.3
      - android-29
      - extra
      - add-on
      - tools
    before_script:
    - echo y | /usr/local/android-sdk/tools/bin/sdkmanager "patcher;v4"
    - echo y | /usr/local/android-sdk/tools/bin/sdkmanager ndk-bundle
    script:
    - cd Android
    - "./gradlew assembleRelease"
    - cd ..
    before_deploy:
      - cp Android/app/build/outputs/apk/release/app-release-unsigned.apk CSMoE-CD-Android-arm64-unsigned.apk
    deploy:
      provider: releases
      api_key: ${GITHUB_TOKEN}
      file:
        - CSMoE-CD-Android-arm64-unsigned.apk
      on:
        branch: master
        repo: MoeMod/CSMoE
      overwrite: true
      skip_cleanup: true
      prerelease: true
  - stage: build
    name: Build for Win32 amd64 MSVC/CMake
    cache: ccache
    os: windows
    language: cpp
    before_script:
    - curl http://libsdl.org/release/SDL2-devel-2.0.10-VC.zip -o SDL2.zip
    - unzip SDL2.zip
    - mv SDL2-2.0.10 SDL2
    script:
    - sh scripts/build_windows_engine.sh
