language: cpp
git:
  depth: 50
  submodules: true
jobs:
  include:
  - stage: publish
    name: Retag and publish game
    arch: arm64
    os: linux
    dist: bionic
    if: branch = master
    script: skip
    before_deploy:
      # Set up git user name and tag this commit
      - git config --local user.name "CSMoE-Deployer"
      - git config --local user.email "824395314@qq.com"
      - export TRAVIS_TAG=continuous
      - git remote add travis-deploy-public https://${GITHUB_TOKEN}@github.com/MoeMod/CSMoE.git
      - git tag --delete $TRAVIS_TAG || echo "tag not exists..."
      - git push travis-deploy-public --delete $TRAVIS_TAG
      - git tag --force $TRAVIS_TAG
      - git push travis-deploy-public --tags --force
    deploy:
      provider: script
      api_key: ${GITHUB_TOKEN}
      script: echo "I am publishing !!!"
      on:
        branch: master
        repo: MoeMod/CSMoE
      overwrite: true
      skip_cleanup: true
      prerelease: true
  - stage: build
    name: Build for Linux amd64
    arch: amd64
    os: linux
    dist: focal
    cache: ccache
    language: cpp
    compiler: gcc
    sudo: true
    addons:
      apt:
        packages:
        - cmake
        - x11-utils
        - libgl1-mesa-dev
        - libegl1-mesa-dev
        - libgles2-mesa-dev
    before_script:
    - export ARCH=x86_64
    - sudo apt-get install libsdl2-dev
    - sudo apt-get install libsdl2-image-dev
    - sudo apt-get install libfontconfig1-dev
    - git clone https://github.com/LuaJIT/LuaJIT 3rdparty/LuaJIT
    - git clone https://github.com/Neargye/nameof 3rdparty/nameof
    script:
    - mkdir -p linux-build-amd64 && cd linux-build-amd64
    - cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo ../
    - cmake --build .
    - cd ..
  - stage: build
    name: Build for Linux arm64
    arch: arm64
    os: linux
    dist: focal
    cache: ccache
    language: cpp
    compiler: gcc
    sudo: true
    addons:
      apt:
        packages:
        - cmake
        - x11-utils
        - libgl1-mesa-dev
        - libegl1-mesa-dev
        - libgles2-mesa-dev
    before_script:
    - sudo apt-get install libsdl2-dev
    - sudo apt-get install libsdl2-image-dev
    - sudo apt-get install libfontconfig1-dev
    - git clone https://github.com/LuaJIT/LuaJIT 3rdparty/LuaJIT
    - git clone https://github.com/Neargye/nameof 3rdparty/nameof
    script:
    - mkdir -p linux-build-arm64 && cd linux-build-arm64
    - cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo ../
    - cmake --build .
    - cd ..
  - stage: build
    name: Build for macOS amd64 and deploy
    os: osx
    osx_image: xcode12.2
    language: objective-c
    before_script:
    - curl -s http://libsdl.org/release/SDL2-2.0.14.tar.gz > SDL2.tar.gz
    - tar xzf SDL2.tar.gz
    - mv SDL2-2.0.14 3rdparty/SDL2
    - git clone https://github.com/LuaJIT/LuaJIT 3rdparty/LuaJIT
    - git clone https://github.com/Neargye/nameof 3rdparty/nameof
    - brew install p7zip
    - curl -fLO https://github.com/MoeMod/CSMoE-GameDir/releases/download/continuous/CSMoE-CD-GameDir-Full.7z
    - 7z x CSMoE-CD-GameDir-Full.7z
    script:
    - mkdir -p osx-build && cd osx-build
    - cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_OSX_ARCHITECTURES="x86_64" ../
    - cmake --build . --target csmoe_cpack_dmg -j 4
    - cd ..
    before_deploy:
    - cp osx-build/CSMoE-macOS-x86_64.dmg CSMoE-CD-macOS-x86_64-unsigned-Full.dmg
    deploy:
      provider: releases
      api_key: ${GITHUB_TOKEN}
      file:
        - CSMoE-CD-macOS-x86_64-unsigned-Full.dmg
      on:
        repo: MoeMod/CSMoE
        tags: true
      overwrite: true
      skip_cleanup: true
      prerelease: true
  - stage: build
    name: Build for iOS arm64 and deploy
    os: osx
    osx_image: xcode12.2
    language: objective-c
    before_script:
    - curl -s http://libsdl.org/release/SDL2-2.0.14.tar.gz > SDL2.tar.gz
    - tar xzf SDL2.tar.gz
    - mv SDL2-2.0.14 3rdparty/SDL2
    - git clone https://github.com/LuaJIT/LuaJIT 3rdparty/LuaJIT
    - git clone https://github.com/Neargye/nameof 3rdparty/nameof
    - brew install p7zip
    - curl -fLO https://github.com/MoeMod/CSMoE-GameDir/releases/download/continuous/CSMoE-CD-GameDir-Full.7z
    - 7z x CSMoE-CD-GameDir-Full.7z
    script:
    - set -o pipefail && xcodebuild archive -project Xcode-iOS/CSMoE-iOS.xcodeproj -scheme CSMoE-iOS -configuration Release -archivePath ./CSMoE-iOS.xcarchive CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO CODE_SIGNING_ALLOWED=NO
    - mkdir -p Payload
    - cp -a ./CSMoE-iOS.xcarchive/Products/Applications/CSMoE.app Payload/
    before_deploy:
      - zip -r CSMoE-CD-iOS-arm64-unsigned-Full.ipa Payload
    deploy:
      provider: releases
      api_key: ${GITHUB_TOKEN}
      file:
        - CSMoE-CD-iOS-arm64-unsigned-Full.ipa
      on:
        repo: MoeMod/CSMoE
        tags: true
      overwrite: true
      skip_cleanup: true
      prerelease: true
  - stage: build
    name: Build for Android arm64/amd64 and deploy
    language: android
    dist: trusty
    android:
      components:
      - build-tools-28.0.3
      - android-29
      - extra
      - add-on
      - tools
    before_script:
    - echo y | /usr/local/android-sdk/tools/bin/sdkmanager "patcher;v4"
    - echo y | /usr/local/android-sdk/tools/bin/sdkmanager ndk-bundle
    - echo y | /usr/local/android-sdk/tools/bin/sdkmanager "cmake;3.10.2.4988404"
    - git clone https://github.com/LuaJIT/LuaJIT 3rdparty/LuaJIT
    - git clone https://github.com/Neargye/nameof 3rdparty/nameof
    - sudo apt-get install p7zip-full
    - curl -fLO https://github.com/MoeMod/CSMoE-GameDir/releases/download/continuous/CSMoE-CD-GameDir-Full.7z
    - 7z x CSMoE-CD-GameDir-Full.7z
    script:
    - cd Android
    - "./gradlew assembleRelease"
    - cd ..
    before_deploy:
      - cp Android/app/build/outputs/apk/release/app-release-unsigned.apk CSMoE-CD-Android-arm64-unsigned-Full.apk
    deploy:
      provider: releases
      api_key: ${GITHUB_TOKEN}
      file:
        - CSMoE-CD-Android-arm64-unsigned-Full.apk
      on:
        repo: MoeMod/CSMoE
        tags: true
      overwrite: true
      skip_cleanup: true
      prerelease: true
  - stage: build
    name: Build for Win32 x86 MSVC/CMake and deploy
    cache: ccache
    os: windows
    language: cpp
    before_script:
    - choco install nsis
    - rm C:/ProgramData/chocolatey/bin/cpack.exe
    - curl http://libsdl.org/release/SDL2-devel-2.0.14-VC.zip -o SDL2.zip
    - unzip SDL2.zip
    - mv SDL2-2.0.14 3rdparty/SDL2
    - git clone https://github.com/LuaJIT/LuaJIT 3rdparty/LuaJIT
    - git clone https://github.com/Neargye/nameof 3rdparty/nameof
    - curl -fLO https://github.com/MoeMod/CSMoE-GameDir/releases/download/continuous/CSMoE-CD-GameDir-Full.7z
    - 7z x CSMoE-CD-GameDir-Full.7z
    script:
    - mkdir -p win-build-x86 && cd win-build-x86
    - cmake -A "Win32" -DCMAKE_BUILD_TYPE=Release ../
    - cmake --build . --config Release --target csmoe_cpack_nsis
    - cd ..
    before_deploy:
    - cp win-build-x86/CSMoE-Win32-Win32.exe CSMoE-CD-Win32-x86-Full.exe
    deploy:
      provider: releases
      api_key: ${GITHUB_TOKEN}
      file:
        - CSMoE-CD-Win32-x86-Full.exe
      on:
        repo: MoeMod/CSMoE
        tags: true
      overwrite: true
      skip_cleanup: true
      prerelease: true
  - stage: build
    name: Build for Win32 x64 MSVC/CMake and deploy
    cache: ccache
    os: windows
    language: cpp
    before_script:
    - choco install nsis
    - rm C:/ProgramData/chocolatey/bin/cpack.exe
    - curl http://libsdl.org/release/SDL2-devel-2.0.14-VC.zip -o SDL2.zip
    - unzip SDL2.zip
    - mv SDL2-2.0.14 3rdparty/SDL2
    - git clone https://github.com/LuaJIT/LuaJIT 3rdparty/LuaJIT
    - git clone https://github.com/Neargye/nameof 3rdparty/nameof
    - curl -fLO https://github.com/MoeMod/CSMoE-GameDir/releases/download/continuous/CSMoE-CD-GameDir-Full.7z
    - 7z x CSMoE-CD-GameDir-Full.7z
    script:
    - mkdir -p win-build-x64 && cd win-build-x64
    - cmake -A "x64" -DCMAKE_BUILD_TYPE=Release ../
    - cmake --build . --config Release --target csmoe_cpack_nsis
    - cd ..
    before_deploy:
    - cp win-build-x64/CSMoE-Win32-x64.exe CSMoE-CD-Win32-x64-Full.exe
    deploy:
      provider: releases
      api_key: ${GITHUB_TOKEN}
      file:
        - CSMoE-CD-Win32-x64-Full.exe
      on:
        repo: MoeMod/CSMoE
        tags: true
      overwrite: true
      skip_cleanup: true
      prerelease: true
